body {
    font-family: 'Poppins', sans-serif;
    color: #b0b1d9;
    margin: 0;
}

header {
    background-color: #E5F6F0;
}

.nav {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.list-item {
    margin-right: 20px;
}

.list-item:last-child {
    margin-right: 0;
}

.list-item a {
    font-size: 18px;
    text-decoration: none;
    color: #b0b1d9;
}

.list-item a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: #8687a5;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-titulo {
    font-size: 30px;
    font-weight: 600;
}

main {
    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo-bienvenida {
    font-size: 36px;
    text-align: center;
    color: #b0b1d9;
    letter-spacing: 3px;
    margin: 80px 0 50px 0;
}

.texto-bienvenida {
    text-align: center;
    color: #b0b1d9;
    letter-spacing: 3px;
}

.img-bienvenida {
    display: block;
    margin: 0 auto;
}

.titulo-menu {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-menu {
    height: 240px;
    width: 350px;
    background-color: #e5f6f0;
    font-weight: 600;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.tarjeta-menu:hover {
    height: 260px;
    width: 370px;
}

.tarjeta-menu p {
    margin: 0;
}

.img-tarjeta-menu {
    width: 120px;
}

form {
    border: 1px solid #b0b1d9;
    padding: 20px 100px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.titulo-pedidos {
    text-align: center;
    margin: 50px 0;
}

.titulo-armalo {
    text-align: center;
}

.datos-personales {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label-input label {
    display: block;
}

.label-input input {
    width: 300px;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.pasteles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pastel-personalizado {
    display: flex;
    justify-content: space-between;
}

.btn-enviar {
    align-self: center;
    width: 100px;
    height: 50px;
    background-color: #b0b1d9;
    color: #8687a5;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 50px 0 20px 0;
}

#inventario table {
    margin: 0 auto;
}

#inventario table,
th,
td {
    border: 1px solid #b0b1d9;
    border-collapse: collapse;
}

th {
    min-width: 300px;
}

footer {
    background-color: #E5F6F0;
    color: #b0b1d9;
}

footer p span {
    margin-right: 10px;
}

footer .contenedor {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 0;
}